<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is the static page from the src template -->
    <script>

        var ef = "?_escaped_fragment_=";

        if (!('querySelector' in document)
			 || !('localStorage' in window)
			 || !('addEventListener' in window)
			|| !('matchMedia' in window)) {

            if (window.location.href.indexOf("#!") > 0) {
                window.location.href = window.location.href.replace("#!", ef);
            } else {
                if (window.location.href.indexOf(ef) < 0) {
                    window.location.href = window.location.href + ef;
                }
            }

        } else {

            if (window.location.href.indexOf(ef) >= 0) {
                window.location.href = window.location.href.replace(ef, "#!");
            }
        }

    </script>

    <meta content="on" http-equiv="cleartype">

    <link rel="dns-prefetch" href="//az763773.vo.msecnd.net/">
    <link rel="dns-prefetch" href="//images.professionalaspnet.com/">


    <title>Fast Furniture - An Example High Performance Single Page Application</title>

    <!-- critical css -->
    <#spaCriticalCSS#>

        <!-- CSS References -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <#spaCSS#>

            <meta content="Making Furnishing Your World Fast" name="description">

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

            <link href="favicon.ico" rel="shortcut icon">

            <link rel="icon" sizes="192x192" href="http://images.professionalaspnet.com/furniture/touch-icon-android.png">
            <link rel="apple-touch-icon" href="http://images.professionalaspnet.com/furniture/touch-icon-iphone.png">
            <link rel="apple-touch-icon" sizes="76x76" href="http://images.professionalaspnet.com/furnituretouch-icon-ipad.png">
            <link rel="apple-touch-icon" sizes="120x120" href="http://images.professionalaspnet.com/furniture/touch-icon-iphone-retina.png">
            <link rel="apple-touch-icon" sizes="152x152" href="http://images.professionalaspnet.com/furniture/touch-icon-ipad-retina.png">

            <meta content="yes" name="apple-mobile-web-app-capable">
            <meta content="black" name="apple-mobile-web-app-status-bar-style">

            <link rel="apple-touch-startup-image" href="http://images.professionalaspnet.com/furniturestartup.png">

            <meta name="application-name" content="" />
            <meta name="msapplication-config" content="IEconfig.xml" />

            <meta name="msapplication-allowDomainMetaTags" content="true">
            <meta name="msapplication-navbutton-color" content="">
            <meta name="msapplication-badge" content="frequency=1440; polling-uri=">
            <meta name="msapplication-notification" content="frequency=1440;polling-uri=; cycle=1" />
            <meta name="msapplication-starturl" content="#!">
            <meta name="msapplication-tooltip" content="">

            <link type="text/plain" rel="author" href="humans.txt" />

            <noscript>
                <meta http-equiv="refresh" content="1;URL=http://furniture.love2dev.com/coresite">
            </noscript>

</head>

<body spa-app="fastFurniture">

    <header class="site-header" role="banner">
        <span class="back-btn"><span class="nav-icon icon-left-open"></span></span>
        <span class="hamburger-nav">
            <span class="hamburger-bar-wrapper">
                <span class="hamburger-bar"></span><span class="hamburger-bar"></span><span class="hamburger-bar"></span>
            </span>
            <span class="hamburger-bar-text">menu</span>
        </span>
        <h1 class="view-title">Fast Furniture</h1>

        <a href="#!search"><span class="nav-icon icon-search"></span></a>
        <a href="#!cart"><span class="nav-icon icon-basket"></span></a>
    </header>

    <main class="main-content" role="main"></main>

    <aside class="left-panel panel-v-scroll">
        <div class="nav-header">

        </div>
        <div class="y-scroller-wrapper">
            <nav class="main-nav" role="navigation"></nav>
            <nav class="social-icons" role="menu">

                <a href="twitter.com/chrislove" class="btn btn-social fa fa-twitter"></a>
                <a href="facebook.com" class="btn btn-social fa fa-facebook "></a>
                <a href="google.com" class="btn btn-social fa fa-google"></a>
                <a href="pinterest.com" class="btn btn-social fa fa-pinterest"></a>
            </nav>
        </div>
    </aside>

    <footer class="toolbar">
        <nav class="toolbar-top-menu"></nav>
        <nav class="toolbar-sub-menu"></nav>
    </footer>

    <#spaHTML#>

        <#spaScripts#>
</body>

</html>
