

.item-grid {
    padding: 0;
    overflow: hidden;
    margin-left: 0;
    width: 4500px;
}

.item-grid-group {
    display: inline-block;
    margin: 1% 1%;
    height: 640px;
    width: 940px;
}

.item-grid-target,
.item-grid-target-first {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    width: 240px;
    overflow: hidden;
    background: transparent;
    text-align: center;
    float: left;
    height: 250px;
    position: relative;
}

.item-grid-target-first {
    width: 400px;
    max-width: 400px;
    height: 520px;
}

    .item-grid-target-first .product-grid-photo {
        min-width: 200px;
        max-height: 470px;
    }

.product-grid-photo {
    min-height: 210px;
    background:#808080;
}



.item-grid-group-title {
    width: 100%;
    font: 1.5em bold;
    padding: 0;
    margin: 1% 0;
    color: #000;
    float: left;
}

.item-grid-photo-caption {
    color: #ccc;
    background: #333;
    font-size: 1.2em;
    padding: 1%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
    height: 3em;
}
