

.item-grid {
    padding: 0;
    overflow: hidden;
    margin-left: 0;
    height: 100%;
    width: 1400px;
}

.item-grid-group {
    float: left;
    margin: 1% 1%;
    height: 100%;
    width: 18%;
    position: relative;
    top: 0;
    bottom: 0;
}

    .item-grid-group .panel-v-scroll {
        position: absolute;
        top: 30px;
        bottom: 10px;
        display: inline-block;
        left: 0;
        right: 0;
    }


.item-grid-target,
.item-grid-target-first {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    width: calc(50% - 20px);
    overflow: hidden;
    background: transparent;
    text-align: center;
    float: left;
    height: calc(33% - 20px);
    position: relative;
}

.product-grid-photo {
    min-height: 72px;
    background: #808080;
    width: 116px;
}



.item-grid-group-title {
    width: 100%;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0;
    margin: 1% 0;
    color: #000;
    float: left;
}

.item-grid-photo-caption {
    color: #ccc;
    background: #333;
    font-size: 1.2em;
    padding: 1%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
    height: 3em;
    display: none;
}

.item-grid-item-wrapper {
    overflow: hidden;
    height: 100%;
}




@media(min-width:720px) {

    .item-grid-group .panel-v-scroll div:nth-child(n+6) {
        display: none;
    }

    .item-grid-photo-caption {
        display: block;
    }

    .item-grid {
        width: 4500px;
    }


    .item-grid-group {
        height: 640px;
        width: 940px;
    }

    .item-grid-target,
    .item-grid-target-first {
        margin: 10px;
        width: 240px;
    }

    .item-grid-target-first {
        width: 400px;
        max-width: 400px;
        height: 520px;
    }

        .item-grid-target-first .product-grid-photo {
            min-width: 200px;
            max-height: 470px;
        }

    .product-grid-photo {
        min-height: 210px;
        max-height: none;
    }
}
