.nav-icon.icon-left-open,
.back-btn {
    display: none;
    height: 32px;
    width: 32px;
    margin: 0;
    text-align: center;
}


.back-btn {
    display: block;
    float: left;
    margin: 24px 0 24px 20px;
}


.icon-search:before {
    content: '\e800';
}
/* '' */
.icon-mail:before {
    content: '\e801';
}
/* '' */
.icon-tags:before {
    content: '\e802';
}
/* '' */
.icon-basket:before {
    content: '\e803';
}
/* '' */
.icon-home:before {
    content: '\e804';
}
/* '' */
.icon-star:before {
    content: '\e805';
}
/* '' */
.icon-star-empty:before {
    content: '\e806';
}
/* '' */
.icon-desktop:before {
    content: '\e807';
}
/* '' */
.icon-folder:before {
    content: '\e808';
}
/* '' */
.icon-tasks:before {
    content: '\e809';
}
/* '' */
.icon-briefcase:before {
    content: '\e80a';
}
/* '' */
.icon-road:before {
    content: '\e80b';
}
/* '' */
.icon-rocket:before {
    content: '\e80c';
}
/* '' */
.icon-building-filled:before {
    content: '\e80d';
}
/* '' */
.icon-book:before {
    content: '\e80e';
}
/* '' */
.icon-inbox:before {
    content: '\e80f';
}
/* '' */
.icon-angle-left:before {
    content: '\e810';
}
/* '' */
.icon-star-half:before {
    content: '\e811';
}
/* '' */
.icon-star-half-alt:before {
    content: '\e812';
}
/* '' */
.icon-ellipsis:before {
    content: '\e813';
}
/* '' */
.icon-ellipsis-vert:before {
    content: '\e814';
}
/* '' */
.icon-user:before {
    content: '\e815';
}
/* '' */
.icon-lock-open:before {
    content: '\e816';
}
/* '' */
.icon-lock-open-alt:before {
    content: '\e817';
}
/* '' */
.icon-lock:before {
    content: '\e818';
}
/* '' */
.icon-key:before {
    content: '\e819';
}
/* '' */
.icon-cc-visa:before {
    content: '\e81a';
}
/* '' */
.icon-cc-mastercard:before {
    content: '\e81b';
}
/* '' */
.icon-cc-discover:before {
    content: '\e81c';
}
/* '' */
.icon-cc-amex:before {
    content: '\e81d';
}
/* '' */
.icon-cc-paypal:before {
    content: '\e81e';
}
/* '' */
.icon-left-open:before {
    content: '\e81f';
}
/* '' */
.icon-help-circled:before {
    content: '\e820';
}
/* '' */
.icon-info-circled:before {
    content: '\e821';
}
/* '' */
.icon-mail-alt:before {
    content: '\e822';
}
/* '' */

.left-panel {
    display: block;
    width: 220px;
    background: #222;
    position: absolute;
    left: -220px;
    top: 0;
    bottom: 0;
    -moz-transition: left 700ms ease-out;
    -o-transition: left 700ms ease-out;
    -webkit-transition: left 700ms ease-out;
    transition: left 700ms ease-out;
    color: #293846;
}

.expand-menu .left-panel {
    width: 220px;
    left: 0;
}


.nav-header {
    padding: 33px 25px;
    width: 220px;
    /*background: url("patterns/header-profile.png") no-repeat;*/
}

.img-circle {
    border-radius: 50%;
}

.nav-header .text-muted {
    color: #8095a8;
}



/* Start Hamburger */
.hamburger-nav {
    display: none;
    width: 120px;
    height: 40px;
    margin: 20px 5px;
    line-height: 26pt;
    margin-right: 2em;
    float: left;
    border: 1px solid #293846;
}

.hamburger-bar-wrapper {
    float: left;
    height: 40px;
    padding-top: 8px;
    width: 40px;
    display: inline-block;
}

.hamburger-bar {
    height: 4px;
    background-color: #293846;
    border-radius: 4px;
    margin: 3px auto;
    width: 30px;
    display: block;
}

.hamburger-bar-text {
    line-height: 40px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}
/* End Hamburger */

.login-info {
    height: 30px;
    line-height: 30px;
    margin-bottom: .5em;
}

.main-nav > a,
.main-nav > a:visited,
.main-nav > a:active,
.main-nav > a:hover {
    background-color: transparent;
    font-weight: 300;
    color: #eee;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
    width: 220px;
    height: 40px;
    border-bottom: 1px solid #777;
    padding: 0 0 0 12px;
}

    .main-nav > a:active {
        /*color: rgb(193,40,40);*/
        border-bottom: solid 2px #fff;
        background-color: #293846 !important;
    }

.main-nav .fa {
    font-size: 1.5em;
    width: 1.75em;
    text-align: center;
}


.nav-text {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.nav-icon {
    width: 32px;
    height: 32px;
    display: none;
    background-repeat: no-repeat;
    font-family: "fastfurniture";
}

.seleted-nav {
    background-color: #293846 !important;
}

.main-nav > a.sub-nav, .main-nav > a.sub-nav:visited {
    padding-left: 1em;
    width: 99%;
    font-size: 1em;
    display: none;
}

a.sub-nav {
    color: #fff;
}


.left-panel .y-scroller-wrapper {
    height: calc(100% - 75px);
}


.main-nav > a.active.sub-nav,
.main-nav > a.active.sub-nav:visited {
    display: block;
}

    .main-nav > a.active.sub-nav.selected,
    .main-nav > a.active.sub-nav.selected:visited {
        color: #aaa;
        box-shadow: inset -2px -2px 2px 0px rgba(198,198,198,0.75);
        border: none;
    }

/*.expand-menu .main-content,*/
.expanded-action-panel .main-content,
.expanded-menu.expanded-action-panel .main-content {
    left: 220px;
}



@media (min-width:600px) /*and (max-width:1024px)*/ {

    .hamburger-nav {
        margin-left: 2em;
    }

    .main-nav {
        /*z-index: 1000;
        position: absolute;
        right: 10px;
        top: 50px;*/
        width: 220px;
        background-color: transparent;
        height: auto;
        padding-bottom: 2%;
    }

        .login-info > a, .login-info > a:visited .main-nav > a, .main-nav > a:visited {
            /*margin: 0 5px;*/
            padding-left: 10px;
            color: #c9c9c9;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.25em;
            display: block;
            width: 220px;
            height: 40px;
        }

            .login-info > a, .login-info > a:visited {
                text-align: left;
                height: 25px;
                line-height: 25px;
            }

    .login-info .fa {
        height: 25px;
        line-height: 25px;
    }

    .login-info .nav-icon {
        margin: 0 2px;
    }

    /*@media all and (min-width:600px)*/
    .main-nav .fa {
        height: 20px;
        width: 20px;
        line-height: 20px;
        float: left;
        margin: 12px 0 0 0;
    }

    /*@media all and (min-width:600px)*/
    .main-nav .nav-icon {
        width: 30px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin: 0;
        font-family: "fastfurniture";
    }

    .nav-text, .nav-icon {
        display: inline-block;
        float: left;
        text-align: left;
    }

    .nav-text {
        width: calc(100% - 40px);
        padding-left: 10px;
        overflow: hidden;
    }

    .view-title {
        width: calc(100% - 220px);
    }
}

@media(min-width:720px) {

    /* Start Hamburger */
    .hamburger-nav {
        display: inline-block;
    }
}

@media (min-width:960px) {

    .expand-menu .left-panel {
        left: 0;
    }

    /*.expand-menu .main-content {
        left: 220px;
    }*/

    .main-content {
        left: 0;
    }

    .expanded-action-panel .main-content,
    .expanded-menu.expanded-action-panel .main-content {
        left: 220px;
    }


    .site-header .icon-profile_alt,
    .site-header .user-name {
        display: inline-block;
        line-height: 70px;
    }
}


@media (min-width:1180px) {

    .nav-icon {
        display: inline-block;
    }

    .left-panel {
        left: 0;
    }

    .site-header,
    .main-content {
        left: 220px;
    }

    .hamburger-nav {
        display: none;
    }
}
