<link id="spa-css" href="~/css/libs/bootstrap.lean.min.css" rel="stylesheet" />
<link id="spa-css" href="~/css/libs/spa.css" rel="stylesheet" />
<link id="animations-css" href="~/css/dev/ui/animations.css" rel="stylesheet" />
<link id="touch-css" href="~/css/libs/touch.css" rel="stylesheet" />
<link id="toolbar-css" href="~/css/libs/toolbar.css" rel="stylesheet" />
<link id="app-css" href="~/css/dev/app.css" rel="stylesheet" />
<link id="typography-css" href="~/css/dev/ui/typography.css" rel="stylesheet" />
<link id="navigation-css" href="css/dev/ui/navigation.css" rel="stylesheet" />
<link id="action-menu-css" href="css/dev/ui/action-menu.css" rel="stylesheet" />
<link id="grid-css" href="~/css/dev/ui/grid.css" rel="stylesheet" />
<link id="grid-css" href="~/css/dev/ui/social.css" rel="stylesheet" />

<!-- Add library specific CSS references here -->
<link href="css/dev/views/category.css" rel="stylesheet" />
<link href="css/dev/views/categories.css" rel="stylesheet" />
<link href="css/dev/views/product.css" rel="stylesheet" />
<link href="css/dev/views/search.css" rel="stylesheet" />
<link href="css/dev/views/home.css" rel="stylesheet" />
<link href="css/dev/views/NotFound.css" rel="stylesheet" />
<link href="css/dev/views/login.css" rel="stylesheet" />
<link href="css/dev/views/forgotemail.css" rel="stylesheet" />
<link href="css/dev/views/forgotpassword.css" rel="stylesheet" />
