<script id="shoppingCartTemplate" type="text/x-simpleTemplate-template">

    <div class="shopping-cart-items">

        <%for(var orderItem in this.Items) {%>

        <div class="shopping-cart-item">
            <a href="#!product/<%this.Items[orderItem].Slug%>">
                <img alt="<%this.Items[orderItem].Name%>" src="https://fastfurniture.blob.core.windows.net/thumb/<%this.Items[orderItem].Photos.Thumb%>" class="cart-item-photo">
                <span class="cart-item-name type-large"><%this.Items[orderItem].Name%></span>
            </a>
            <div class="cart-item-qty type-medium" data-id="<%this.Items[orderItem].Id%>"><%this.Items[orderItem].Qty%></div>
            <div class="cart-item-price type-medium"><%this.Items[orderItem].Price%></div>
            <div class="cart-item-delete">X</div>
        </div>

        <%}%>

    </div>
    <div class=" text-right col-sm-10 cart-actions">
        <button class="btn btn-link btn-update">Update</button>
        <a href="#!account/payment" class="btn btn-default btn-checkout">Check Out</a>
    </div>

    <div class="cart-totals">
        <div class="cart-sales-tax"><label>Sales Tax: </label><%this.salesTax%></div>
        <div class="cart-sales-shipping"><label>Shipping: </label><%this.shipping%></div>
        <div class="cart-grand-total"><label>Grand Total: </label><%this.grandTotal%></div>
    </div>


</script>