<script id="categoryGridItem" type="text/x-simpleTemplate-template">

    <%for(var category in this.categories) {%>

    <div class="item-grid-group">
        <a class="item-grid-group-title" href="#!category/<%this.categories[category].Slug%>"><%this.categories[category].Name%> ></a>

        <div class="panel-v-scroll">
            <%for(var index in this.categories[category].Products) {%>

            <div
             <%if(index === "0"){%>
            class="item-grid-target-first"
            <%}else{%>
             class="item-grid-target"
            <%}%>>
            <a href="#!product/<%this.categories[category].Products[index].Slug%>">
                <div class="item-grid-item-wrapper">

                    <img alt="<%this.categories[category].Products[index].Name%>" <%if(index === "0"){%>
                    src="https://fastfurniture.blob.core.windows.net/originals/<%this.categories[category].Products[index].Photo%>" class="product-grid-photo"
                    <%}else{%>
                    src="https://fastfurniture.blob.core.windows.net/mobile/<%this.categories[category].Products[index].Photo%>" class="product-grid-photo"
                    <%}%>
                    >
                    </div>
                    <figcaption class="item-grid-photo-caption"><%this.categories[category].Products[index].Name%></figcaption>
</a>
        </div>

            <%}%>
        </div>
    </div>
    <%}%>

</script>