<script id="categoryGridItem" type="text/x-simpleTemplate-template">

    <%for(var order in this.orders) {%>

    <div class="item-grid-group">
        <%this.order.id%>
    </div>
    <%}%>

</script>