<script id="productGridItem" type="text/x-simpleTemplate-template">

    <%for(var index in this.products) {%>

    <div 
             <%if(index === "0"){%>
            class="item-grid-target-first"
            <%}else{%>
             class="item-grid-target"
            <%}%>>
        <a href="#!product/<%this.products[index].Slug%>">
            <img alt="<%this.products[index].Name%>" 
                                <%if(index === "0"){%>
                src="https://az763773.vo.msecnd.net/thunmb/<%this.products[index].Photo%>" 
                <%}else{%>
                src="https://az763773.vo.msecnd.net/thumb/<%this.products[index].Photo%>"
                <%}%> 
 
                  class="product-grid-photo">
            <figcaption class="item-grid-photo-caption"><%this.products[index].Name%></figcaption>
        </a>
    </div>

    <%}%>

</script>