<script id="productDetails" type="text/x-simpleTemplate-template">

    <span class="product-detail-photo-wrapper">
        <img alt="Product Name" src="<%this.displayPhoto%>" class="product-grid-photo">
    </span>

    <header class="product-detail-header">
        <h1><%this.Name%></h1>
    </header>

    <ul class="product-detail-list vertical-list">
        <li class="product-detail-list-item product-detail-price"><%this.price%></li>
        <li class="product-detail-list-item"></li>
        <li class="product-detail-list-item"></li>
        <li class="product-detail-list-item"><button class="btn" data-product="<%this.slug%>">Order Now</button></li>
    </ul>

    <div class="product-detail-description">
        <%this.description%>
    </div>


</script>