<script id="productDetails" type="text/x-simpleTemplate-template">

    <header class="product-detail-header">
        <h1><%this.Name%></h1>
    </header>

    <span class="product-detail-photo-wrapper">
        <img alt="<%this.Name%>" src="https://fastfurniture.blob.core.windows.net/originals/<%this.Photos.Original%>" class="product-grid-photo">
    </span>

    <div class="product-detail-list">
        <div class="product-detail-list-item product-detail-price">$<%this.Price%></div>
        <div class="product-detail-list-item"><button class="btn add-to-cart" data-product="<%this.Slug%>">Order Now</button></div>
    </div>

    <div class="product-detail-description">
        <%this.Description%>
    </div>


</script>