<script id="relatedProduct" type="text/x-simpleTemplate-template">

    <%for(var index in this.Related) {%>

    <div class="related-products-target">
        <a href="#!product/<%this.Related[index].Slug%>">
            <img alt="Product Name" src="https://az763773.vo.msecnd.net/thumb/<%this.Related[index].Photos.Thumb%>" class="replated-product-photo">
            <figcaption class="related-products-photo-caption"><%this.Related[index].Name%></figcaption>
        </a>
    </div>

    <%}%>

</script>