
<script id="searchReultItems" type="text/x-simpleTemplate-template">

    <%for(var index in this.products) {%>

    <div class="item-grid-target">
        <a href="#!product/<%this.products[index].Slug%>">
            <img alt="<%this.products[index].Name%>"
                src="https://fastfurniture.blob.core.windows.net/mobile/<%this.products[index].Photo%>"
                  class="product-grid-photo">
            <figcaption class="item-grid-photo-caption"><%this.products[index].Name%></figcaption>
        </a>
    </div>

    <%}%>

</script>