


.shopping-cart-item {
    float: left;
    width: 90%;
}

    .shopping-cart-item a {
        display: inline-block;
        width: 70%;
        float: left;
    }

.cart-item-photo {
    margin: 0 1%;
    width: 72px;
    float: left;
}

.cart-item-qty,
.cart-item-price,
.cart-item-delete,
.cart-item-name {
    display: inline-block;
}


.cart-item-qty,
.cart-item-price,
.cart-item-delete {
    width: 20%;
    text-align: center;
}

.cart-item-name {
    width: calc(97% - 80px);
    height: 100px;
    float: left;
    margin: 2% 0;
}

.cart-item-qty {
    background-color: #333;
    color: #eee;
    width: 2.5em;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 3em;
    margin: .5% 6%;
}

.cart-actions {
    height: 36px;
    clear: both;
}

.cart-totals {
    float: right;
    margin: 5%;
    width: 60%;
    text-align: right;
}


.cart-totals label{
    margin: 1% 4%;
    text-align:left;
    width:50%;
}


@media(min-width:720px) {

    .shopping-cart-item a {
        width: 60%;
    }

    .cart-item-qty, .cart-item-price, .cart-item-delete {
        width: 10%;
    }

    .cart-item-qty {
        width: 2.5em;
    }

    .cart-totals {
        width: 50%;
    }
}


@media(min-width:1100px) {
    .cart-totals {
        width: 35%;
    }
}
