<script id="account"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-account"
		  spa-layout="fast-furniture-layout"
		  spa-route="account"
            type="spa-view">

	<section class="spa-view-account"></section>
</script>