<script id="category"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-category"
        spa-layout="fast-furniture-layout"
        spa-route="category/:Name"
        type="spa-view">

    <section class="spa-view-category">

        <h1 class="view-title-large">Category Furniture</h1>

        <div class="xy-scroller-wrapper">

            <div class="item-grid products-wrapper">

                <div class="item-grid-target-first">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/originals/4pgpb.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">Product Name 4pgpb</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2pfgbvss.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">Product Name 2pfgbvss</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2-piece-Camden-occasionals.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">2-piece-Camden-occasionals</figcaption>
                    </a>
                </div>
                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2pfgbvss.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">Product Name 2pfgbvss</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2-piece-Camden-occasionals.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">2-piece-Camden-occasionals</figcaption>
                    </a>
                </div>
                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2pfgbvss.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">Product Name 2pfgbvss</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2-piece-Camden-occasionals.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">2-piece-Camden-occasionals</figcaption>
                    </a>
                </div>
                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2pfgbvss.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">Product Name 2pfgbvss</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>



                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2-piece-Camden-occasionals.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">2-piece-Camden-occasionals</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2pfgbvss.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">Product Name 2pfgbvss</figcaption>
                    </a>
                </div>

                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/2-piece-Camden-occasionals.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">2-piece-Camden-occasionals</figcaption>
                    </a>
                </div>
                <div class="item-grid-target">
                    <a href="#!product/slug">
                        <img alt="Product Name" src="img/02.jpg" class="product-grid-photo">
                        <figcaption class="item-grid-photo-caption">bedroom suite 02</figcaption>
                    </a>
                </div>


            </div>

        </div>

    </section>
</script>