<script id="categories"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-categories"
        spa-layout="fast-furniture-layout"
        spa-route="categories"
        type="spa-view">

    <section class="spa-view-categories">

        <div class="xy-scroller-wrapper">

            <div class="categories-grid">

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 1</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 2</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 3</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 4</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 5</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 6</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 7</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 8</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 9</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>
                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 10</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>

                <div class="categories-grid-item">
                    <a class="categories-grid-parent-title" href="#!category/cat1">Category 11</a>

                    <div class="categories-grid-item-children">
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 1</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 2</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 3</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 4</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 5</a>
                        <a class="categories-grid-child-title" href="#!category/cat1">Child 6</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</script>