<script id="contact"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-contact"
        spa-layout="fast-furniture-layout"
        spa-route="contact"
        type="spa-view">

    <section class="spa-view-contact">

        <h1>contact</h1>

    </section>
</script>