<script id="home"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-home"
		  spa-layout="fast-furniture-layout"
		  spa-route=""
            type="spa-view">

	<section class="spa-view-home"></section>
</script>