<script id="newAccount"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-new-account"
		  spa-layout="fast-furniture-layout"
		  spa-route="account/new"
            type="spa-view">

	<section class="spa-view-new-account"></section>
</script>