<script id="product"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-product"
        spa-layout="fast-furniture-layout"
        spa-route="product/:Name"
        type="spa-view">

    <section class="spa-view-product">

        <section class="product-details">

            <span class="product-detail-photo-wrapper">
                <img alt="Product Name" src="img/originals/4pgpb.jpg" class="product-grid-photo">
            </span>

            <header class="product-detail-header">
                <h1>Product Name 2pfgbvss</h1>
            </header>

            <ul class="product-detail-list vertical-list">
                <li class="product-detail-list-item product-detail-price">$749</li>
                <li class="product-detail-list-item"></li>
                <li class="product-detail-list-item"></li>
                <li class="product-detail-list-item"><button class="btn">Order Now</button></li>
            </ul>

            <div class="product-detail-description">
                <p>Nec ipsum, ipsum tellus turpis.</p><p>Ut donec, integer magna sodales. Nunc vitae aliquam, nec gravida duis, nulla condimentum.</p><p>Pellentesque in feugiat. Vel amet, odio eget blandit, venenatis et. Luctus ut, nulla turpis. At id magna, felis cras diamlorem.</p>
            </div>
        </section>
        <section class="product-details-related-products">
            <div class="related-products-target">
                <a href="#!product/slug">
                    <img alt="Product Name" src="img/02.jpg" class="replated-product-photo">
                    <figcaption class="related-products-photo-caption">bedroom suite 02</figcaption>
                </a>
            </div>

            <div class="related-products-target">
                <a href="#!product/slug">
                    <img alt="Product Name" src="img/2pfgbvss.jpg" class="replated-product-photo">
                    <figcaption class="related-products-photo-caption">Product Name 2pfgbvss</figcaption>
                </a>
            </div>

            <div class="related-products-target">
                <a href="#!product/slug">
                    <img alt="Product Name" src="img/2-piece-Camden-occasionals.jpg" class="replated-product-photo">
                    <figcaption class="related-products-photo-caption">2-piece-Camden-occasionals</figcaption>
                </a>
            </div>

        </section>
    </section>
</script>