<script id="register"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-register"
        spa-layout="fast-furniture-layout"
        spa-route="register"
        type="spa-view">

    <section class="spa-view-register y-scroller-wrapper full-text">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="LastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                    <span class="help-block">This is a help block</span>
                </div>
            </div>
            <div class="form-group">
                <label for="Password1" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="Password1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="Password2" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="Password2" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

        <!-- Standard button -->
        <button type="button" class="btn btn-default">Default</button>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary">Primary</button>

        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Success</button>

        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info">Info</button>

        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning">Warning</button>

        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger">Danger</button>

        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
        <button type="button" class="btn btn-link">Link</button>

    </section>
</script>