<script id="search"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-search"
		  spa-layout="fast-furniture-layout"
		  spa-route="search/:query"
            type="spa-view">

	<section class="spa-view-search"></section>
</script>