

.product-details {
    width: 70%;
    float: left;
    clear: both;
}

.product-detail-header {
    float: left;
    width: 30%;
}


.product-detail-header h1 {
    font-weight: bold;
    margin: 1% 0;
    width:100%;
}


.product-detail-photo-wrapper {
    float: left;
    margin: 1% 5% 1% 0;
}


.product-detail-list {
    float: left;
}

.product-detail-list > li{
    height:2em;
    display:block;
}

.product-detail-price{
    font-size:4em;
    color:#444;
    height:5em;
}

.product-detail-description {
    width: 30%;
    padding: 1% 5% 1% 1%;
    float: left;
}

.product-details-related-products {
    width: 110px;
    float: left;
}

.related-products-target {
    width: 100%;
    margin: 1%;
    text-align: center;
}


.related-products-photo-caption {
    color: #444;
    font-size: 1.2em;
    padding: 1% 5%;
    height: 4em;
    overflow: hidden;
    margin: .5% 0;
}

.replated-product-photo{
    width:80px;
}