

.product-details {
    width: 100%;
    float: none;
    clear: both;
}


.product-detail-header {
    float: none;
    width: 100%;
}


    .product-detail-header h1 {
        font-weight: bold;
        margin: 1% 0;
        width: 100%;
    }


.product-detail-photo-wrapper {
    float: none;
    width: 100%;
    margin: 0;
}


.product-detail-list {
    float: none;
    width: 100%;
}

    .product-detail-list > li {
        height: 2em;
        display: block;
    }

.product-detail-price {
    font-size: 3em;
    color: #444;
    height: 3.5em;
    width: 100%;
}

.product-detail-description {
    width: 100%;
    padding: 1% 5% 1% 1%;
    float: none;
}


.related-products-target {
    width: 100%;
    margin: 1%;
    text-align: center;
}


.related-products-photo-caption {
    color: #444;
    font-size: 1.2em;
    padding: 1% 5%;
    height: 4em;
    overflow: hidden;
    margin: .5% 0;
}

.replated-product-photo {
    width: 80px;
    min-height: 80px;
}


@media(min-width:600px) {



    .product-details {
        width: 70%;
        float: left;
        clear: both;
    }

    .product-detail-header {
        float: right;
        width: 30%;
    }

    .product-details-related-products {
        width: 100%;
        float: none;
    }

    .product-detail-photo-wrapper {
        float: left;
        margin: 1% 5% 1% 0;
        width: 60%;
    }

    .product-detail-list {
        float: left;
    }


    .product-detail-price {
        font-size: 4em;
        height: 5em;
    }

    .product-detail-description {
        width: 30%;
        float: left;
    }
}
